[flake8]
exclude =
    venv,
    .venv,
    .git,
    __pycache__,
    assets,
    build,
    dist,
    static,
    templates,
    docs,
    docker,
    model
max-complexity = 10
max-line-length = 120
