### IDEs ###
.idea
.vscode

### MacOS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Assets ###
.cache/
coverage/
**/dist/
!dist/index.html
*.log
stories/

node_modules
storybook-static

### Python ###
__pycache__
.venv
venv

### Project ###
db.sqlite3
.env
.env.dev
model/
tmp/
public/
